html, body {
    max-width: 100%;
    overflow-x: hidden;

}
#basebody{
    background-color: black;
    background-image: url("https://ryanmartinproductions.com/image/46737-full_79-1080p-black-wallpapers-on-wallpaperplay.jpg");

    background: url('img/base.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}

.navbar-brand:hover{
    color: chartreuse;
    size: 2vw;
    font-style: italic;
}
.card{
    border: 6px solid silver;
border-radius: 1%;
}
#profile{
    border: 6px solid blue;
    margin-top: 2%;
    border-radius:50% ;
   border-color: blue;
    width: 20%;
height: 250px;

    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: width 2s,height 2s;
    transition-timing-function: linear;

}
#profile:hover{
    width: 500px;
    height: 500px;
}
@keyframes example {
    0%   {border-color: red;}
    25%  {border-color: yellow;}
    50%  {border-color: green;}
    100% {border-color: blue;}
}
#profilebody{
    color: bisque;
    background-color: black;
    background-repeat: no-repeat;

    background-image: url("https://ryanmartinproductions.com/image/46737-full_79-1080p-black-wallpapers-on-wallpaperplay.jpg");
    background: url('img/base.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}
#bprofile{
    color: paleturquoise;
    font-family: cursive ;

}
.navbar{
    font-family: icon-large;
}
.card:hover
{
    border: 2px solid red;

    background-color: lightblue;
}
.card .btn:hover{
    background-color: black;
    border: 1px  red solid;
    border-radius: 100%
}
#footerbase{
    color: bisque;
    background-color: #212529;;
font-family: "Bookman Old Style";

}
#fotterbottom{
    color: snow;
    background-color: black;
    font-family: "Bookman Old Style";
}
footer a{
    color: bisque;
}
footer a:hover{
    color: hotpink;
}


/*details*/

#detailsbody{
    background-color: black;
   /* background-image: url("https://ryanmartinproductions.com/image/46745-full_particles-flying-up-free-hd-animation-black-background.gif");
 */
 background-image: url("https://ryanmartinproductions.com/image/46737-full_79-1080p-black-wallpapers-on-wallpaperplay.jpg");
    background: url('img/base.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
}
h1{
    color: wheat;
    font-family: icon-large;
font-size: 2vw;
}
table {
    border-collapse: collapse;
    width: 100%;
background-color: black;
}


th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
td:hover {background-color:#f5f5f5;
color: salmon;
}
#detail{
    color: gold;
    font-family: cursive;
    font-size: 2vw;
}
#table{
    font-family: "Bookman Old Style";
    color: khaki;
    font-size:1.5vw;
margin-bottom: 3%;
    width: 100%;
}
th{
    font-family:"cursive;";
}
/*end details*/

/*votego*/
#votego{
    background-color: bisque;
    background-repeat: no-repeat;
width: 100%;
    height: 100%;
    background-image: url("http://datagame.io/files/2016/05/voting_box_1920_1080.png");
    background: url('img/vote.png') no-repeat center center fixed;
    background-size: 100% 100%;
}

#votegopic1{
    border: 6px solid red;
    border-radius:50% ;
    margin-left: 6%;
    margin-top: 2%;
    width: 20%;
    height: 250px;
    animation-name: example1;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    transition: width 2s,height 2s;
    transition-timing-function: cubic-bezier(0,0,0,0);
    animation-iteration-count: infinite;
}
#votegopic1:hover{
    width: 350px;
    height: 350px;

}
@keyframes example1 {
    0%   {border-color: red;}
    100% {border-color: yellow;}
}
#votebtn{
 margin-left: 2%;
    margin-top: 2%;
    width: 50%;
    color: firebrick;
    font-size: 2vw;
    background-color: bisque;
    border: 2px solid brown;
    border-radius: 10%;
}
#votebtn:hover{
    background-color: purple;
    color: snow;

}
/*endvotego*/

/*cocovote*/
#cocobody{
    background-image: url("https://3.bp.blogspot.com/-yCfuTnCPP5w/XEG11GLzF8I/AAAAAAAAGqc/rRZkmnRd_1kW59qGsJ8S8VRVLQ7bd8KFACHMYCw/s1600/52-simple-backgrounds-presentation-background-free-download.jpg");
    background: url("img/cocobck.jpg") center center fixed;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    background-color: darkviolet;

   }
#votecard{
    font-size: 2vw;
    padding: 20px;

}
#cardvote{
    border: 8px solid goldenrod;
}
#cardvote:hover{
    border: 10px solid green;
    background-color: lightcyan;
}
/*covote */


/* results */

#resultbody{


    background-image: url("https://ryanmartinproductions.com/image/441537-full_wallpaper-geometric-shapes-dark-background-black-green.png");
    background: url('img/result.png') no-repeat center center fixed;

    background-color: lightcyan;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

h3{
    border: 2px solid greenyellow;
    width: fit-content;
    margin-top: 2%;
    background-color:whitesmoke;
    color: black;
    font-size: 1vw;
    font-family: cursive;
}
#resulthe{
    color: brown;
    font-size: 2vw;
    background-color: lightgreen;
    border: 2px green solid;
    border-radius: 25%;
    margin-top: 3%;
    text-align: center;

}

#resulthe:hover{
    color: red;
    font-size: 2vw;
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 20%;
    margin-top: 3%;
    text-align: center;

}
hr{
    border: 0;
    height: 12px;

    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 10.5);
}
#tableresult{
    background-color: bisque;
    color: firebrick;
    font-family: "Script MT Bold";
    font-size: 1vw;


}
#tableresult>tr,th,td{
    border: 2px solid darkred;
}

#tableresult>tr,th,td:hover{
    background-color: cornsilk;
    color: black;
}



#tableresult>tr,th{
    background-color: sandybrown;
    color: saddlebrown;
}

#tableresult>tr,th:hover{
    background-color: lightgreen;
    color: mediumvioletred;
}

/*admin reg */
#admreg{
    background-image: url('https://i.pinimg.com/originals/9c/80/0f/9c800fe8c727bfc4bc9de03da16cc51b.jpg');
    background: url('img/formbck.jpg') no-repeat center center fixed;
    background-color: #2196F3;
background-repeat: no-repeat;
    background-size: cover;


    background-size: 100% 103%;
}

/*aadmin red ended*/


/*loging page*/
#login{
    background-image: url('https://i.pinimg.com/originals/9c/80/0f/9c800fe8c727bfc4bc9de03da16cc51b.jpg');
    background: url('img/formbck.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 103%;


}


/*login page end*/

/*signup page*/
#signup{
    background-image: url('https://i.pinimg.com/originals/9c/80/0f/9c800fe8c727bfc4bc9de03da16cc51b.jpg');
    background: url('img/formbck.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 103%;

}
/*signup page ended*/